<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderMapper">

    <sql id="baseResult">
        o.ID AS id,
        o.`CODE` AS code,
        o.USER_ID AS userId,
        o.ROOM_ID AS roomId,
        o.MONEY AS money,
        o.TYPE AS type,
        o.`STATUS` AS status,
        o.DATE AS date,
        o.PERSON AS person,
        o.PHONE AS phone,
        o.CONTENT AS content,
        o.START_DATE AS startDate,
        o.END_DATE AS endDate,
        rt.TYPE_NAME AS typeName,
        tu.USERNAME AS username
    </sql>

    <sql id="baseParam">
        <if test="order.code != null and order.code != ''">
            AND o.`CODE` LIKE CONCAT('%',#{order.code},'%')
        </if>
        <if test="order.username != null and order.username != ''">
            AND tu.USERNAME LIKE CONCAT('%',#{order.username},'%')
        </if>
        <if test="order.type != null and order.type != '' or order.type == 0">
            AND o.TYPE = #{order.type}
        </if>
        <if test="order.status != null and order.status != '' or order.status == 0">
            AND o.STATUS = #{order.status}
        </if>
    </sql>

    <select id="getOrderPage" resultType="java.util.LinkedHashMap">
        SELECT
            <include refid="baseResult"/>
        FROM
            `order_info` o
            LEFT JOIN room_type rt ON ( o.ROOM_ID = rt.ID )
            LEFT JOIN t_user tu ON (tu.USER_ID = O.USER_ID)
        WHERE 1 = 1
        AND o.DELETE_FLAG = 0
        <include refid="baseParam"/>
    </select>

    <select id="getOrderList" resultType="java.util.LinkedHashMap">

    </select>
</mapper>
